html,
body {
    margin: 0;
    padding: 0;
}

div,
header,
main,
aside,
footer,
article {
    box-sizing: border-box;
}

input[type=text],
input[type=password],
input[type=button],
textarea,
button {
    padding: 5px;
    background-color: #00000011;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    font-size: inherit;
    font-family: inherit;

    &:active,
    &:focus,
    &:focus-visible {
        border: 1px solid #00000066;
    }
}

input[type=text],
input[type=password],
textarea {

    &:disabled {
        background-color: #00000008;
        color: #00000077;
    }
}

input[type=button],
button {
    padding: 5px 10px;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
        background-color: #00000022;
    }
}

#layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row;

    &>div,
    &>main,
    &>aside {
        align-self: stretch;
    }
}

#global-footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
