@import './global';

$background-color: #e0e0e0;

body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    background-color: $background-color;
}

#layout {
    margin: 0 auto;
    width: calc(100% - 8rem);
    min-width: 1000px;
    flex-flow: row-reverse;
    flex-grow: 1;
}

#global-header {
    h1 {
        margin-left: 4rem;
    }
}

#content {
    width: 80%;
    padding: 10px;
    background-color: #ffffff;
}

#global-menu {
    width: 20%;
    max-width: 400px;
    padding: 10px 20px 20px 20px;
    background-color: #f0f0f0;

    &>h3:first-child,
    &>h4:first-child,
    &>h5:first-child {
        margin-top: 0;
    }
}

#post {
    padding: 0 20px;

    h3 {
        font-size: 1.5rem;
        border-bottom: 1px solid #dadada;
        padding-left: 5px;
        margin-top: 2em;
        margin-bottom: .5rem;
    }

    h4 {
        font-size: 1.4rem;
        border-left: 4px solid #dadada;
        padding-left: .75rem;
        margin-top: 1.5em;
        margin-bottom: .5rem;
    }

    h5 {
        font-size: 1.2rem;
        margin-top: 1.5em;
        margin-bottom: .5em;
        margin-bottom: .5rem;
    }

    figure {
        $max-image-height: 40vh;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: column;
        background-color: #eeeeee;
        padding: 2px;
        width: max-content;

        img {
            max-height: $max-image-height;
        }

        figcaption {
            width: 100%;
            text-align: center;
        }
    }
}

#post-header {

    h2 {
        font-size: 1.75rem;
        margin: .25em 0 .75em 0;
    }

    &::after {
        content: '';
        display: block;
        width: 99%;
        height: 2px;
        margin: 0 auto;
        background-color: #e0e0e0;
    }
}

#post-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row;
}

#post-editor {

    input[type=text],
    textarea {
        width: 80%;
    }

    &::after {
        content: '';
        display: block;
        width: 95%;
        height: 2px;
        margin: 20px auto;
        background-color: #dadada;
    }
}

#post-editor-content {
    height: 30em;
    font-family: 'Consolas', 'Meiryo';
}

#global-menu-edit {
    text-align: right;
}

#image-gallery-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .image-gallery-card {
        padding: 10px;
        margin: 10px;

        &:hover {
            background-color: #00000022;
            cursor: pointer;
        }

        figure {
            width: 100%;
            height: auto;
            user-select: none;
            pointer-events: none;

            img {
                max-width: 100%;
                max-height: 100%;
                user-select: none;
                pointer-events: none;
            }
        }

        figcaption {
            text-align: center;
            user-select: none;
            pointer-events: none;
            word-break: break-all;
        }
    }
}

#image-gallery-controller {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    gap: 5px;
    margin: 10px 0;

    &>div {
        width: 100%;
    }

    label {
        width: 8em;
        display: inline-block;
        text-align: right;
        margin-right: 1em;
    }

    input[type=text],
    input[type=file] {
        width: 60%;
        min-width: 30em;
    }
}

#post-content-controller {
    position: relative;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        padding: 5px;
        margin: 0 2px 2px 0;
        position: relative;

        img {
            user-select: none;
            pointer-events: none;
        }
    }
}

#insert-image-button {
    &.open:after {
        content: '画像を追加';
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 3px 10px;
        position: absolute;
        top: -2.2em;
        left: 50%;
        color: white;
        background-color: #333333;
        font-size: .85rem;
        white-space: nowrap;
        box-sizing: border-box;
        transform: translateX(-50%);
        border-radius: 5px;
    }
}
