<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% page-title %} | {% post-title %}</title>
</head>
<body>
    <header id="globa-header"></header>
    <div id="layout">
        <main>
            <article id="post">
                <header id="post-header"></header>
                <section id="post-content">{% post-content %}</section>
                <footer id="post-footer"></footer>
            </article>
        </main>
        <aside>{% global-menu %}</aside>
    </div>
    <footer id="global-footer"></footer>
</body>
</html>
