<div id="image-gallery-panel">
    <section id="image-gallery-controller">
        <div>
            <label for="">ファイル名</label>
            <input type="text" id="image-filename" readonly>
            <button id="delete-image-button" class="red-button">削除</button>
        </div>
        <div>
            <label for="">埋め込み</label>
            <input type="text" id="image-markdown-text" readonly>
            <button id="copy-markdown-button">埋め込みコードをコピー</button>
        </div>
        <div>
            <label for="">アップロード</label>
            <input type="file" id="new-image-select">
            <button id="upload-image-button">追加</button>
        </div>
    </section>
    <section id="image-gallery-list">
        {% image-gallery-cards %}
    </section>
</div>
